/* reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* типографика */
html {
  font: 14px/1.5 Lato, sans-serif;
}
body, input, textarea, select, option, button {
  font: inherit;
}

body {
  padding: 2em;
}

/* отстояния */
h2 {
  margin-top: 2em;
}

/* параграфи */
p {
  margin-bottom: 1em;
}

/* стил за code блокове */
code {
  display: block;
  background: #f5f5f5;
  padding: 1.5em;
  border-radius: 0.3em;
  margin: 1em 0;
  border: 1px solid #ccc;
  overflow: auto;
  white-space: pre-wrap;
}

/* контейнер за демото */
.example {
  margin-bottom: 1.5em;
}

/* основен стил на textarea – като input */
textarea {
  display: block;
  width: 20%;
  max-width: 100%;
  padding: 0.5em 0.8em;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 0.2em;
  resize: vertical;
  font: inherit;
  line-height: inherit;
  transition: border-color 0.2s;
}

/* фокус */
textarea:focus {
  border-color: #090;
}
