body {
  border: 2px solid green;
  margin: 0;
  padding: 2em;
  font-family: sans-serif;
}

section {
  border: 1px solid black;
  margin-bottom: 2em;
  padding: 2em 0;
}

.wrapper {
  border: 2px solid blue;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  text-align: left;
  font-weight: bold;
}
